<form th:fragment="preferencesForm(action, showGenderPrefix)" th:action="${action}" th:method="'POST'">
    <div class="row my-2">
        <div class="col">
            <label for="genderFilter"><span th:if="${showGenderPrefix}">Your </span>Gender:</label>
            <select name="gender" class="form-select" id="genderFilter">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>
        </div>
    </div>

    <div class="row my-3">
        <div class="col">
            <label>Training Days Options:</label>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" name="trainingDays" id="mondayCheckbox" value="monday">
                <label class="form-check-label" for="mondayCheckbox">Monday</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" name="trainingDays" id="tuesdayCheckbox" value="tuesday">
                <label class="form-check-label" for="tuesdayCheckbox">Tuesday</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" name="trainingDays" id="wednesdayCheckbox" value="wednesday">
                <label class="form-check-label" for="wednesdayCheckbox">Wednesday</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" name="trainingDays" id="thursdayCheckbox" value="thursday">
                <label class="form-check-label" for="thursdayCheckbox">Thursday</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" name="trainingDays" id="fridayCheckbox" value="friday">
                <label class="form-check-label" for="fridayCheckbox">Friday</label>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col">
            <label for="objectiveFilter">Pick a objective:</label>
            <select name="trainingObjective" class="form-select" id="objectiveFilter">
                <option selected>Select Objective</option>
                <option value="functional">FUNCTIONAL TRAINING</option>
                <option value="mobility">MOBILITY TRAINING</option>
                <option value="strength">STRENGTH TRAINING</option>
                <option value="balance">BALANCE TRAINING</option>
                <option value="stretch">STRETCHING</option>
                <option value="agility">AGILITY TRAINING</option>
                <option value="other">OTHER</option>
            </select>
        </div>
    </div>


    <div class="row my-3">
        <label>Available time for training sessions:</label>
        <div class="col">
            <input class="form-control"
                   type="time"
                   id="startSession"
                   name="startSession"
                />
            <label for="startSession">
                <small>Start</small>
            </label>
        </div>

        <div class="col">

            <input class="form-control"
                   type="time"
                   id="endSession"
                   name="endSession"
                  />
            <label for="endSession">

                <small>End</small>
            </label>
        </div>
    </div>

<!--    <div class="form-check form-switch mb-4">-->
<!--        <input class="form-check-input" type="checkbox" id="toggleTrainers">-->
<!--        <label class="form-check-label" for="toggleTrainers">Show Personal Trainers</label>-->
<!--    </div>-->
    <div class="row my-3">
        <button
                class="btn btn-primary"
                id="subscribeBtn"
                type="submit"
        >
            Submit
        </button>
    </div>
</form>