<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<header class="p-3 text-bg-dark" th:fragment="site-navbar(activePage)">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
<!--            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">-->
<!--                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>-->
<!--            </a>-->
            <ul class="nav col-8 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <a href="/">
                    <img th:src="@{/assets/logo-no-background.png}" style="width:auto;height:40px;" alt="logo"/>
                </a>
                <li><a th:href="@{/site/}" class="nav-link px-2"
                       th:classappend="${activePage == 'main'} ? 'text-secondary' : 'text-white' ">
                    Home
                </a>
                </li>
                <li><a th:href="@{/site/support}" class="nav-link px-2"
                       th:classappend="${activePage == 'support'} ? 'text-secondary' : 'text-white' ">
                    Support
                </a>
                </li>
                <li><a th:href="@{/site/about}" class="nav-link px-2"
                       th:classappend="${activePage == 'about'} ? 'text-secondary' : 'text-white' ">
                    About
                </a>
                </li>
                <li>
                    <a th:href="@{/site/eula}" class="nav-link px-2"
                       th:classappend="${activePage == 'eula'} ? 'text-secondary' : 'text-white' ">
                        Eula
                    </a>
                </li>
            </ul>

            <div class="text-end">
                <a th:href="@{/app/login}" class="btn btn-outline-light me-2">Login</a>
                <a th:href="@{/app/signUp}" class="btn btn-warning">Sign-up</a>
            </div>
        </div>
    </div>
</header>

<header class="p-3 text-bg-dark" th:fragment="app-navbar(activePage)">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-10 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <a href="/"><img th:src="@{/assets/logo-no-background.png}" style="width:auto;height:40px;" alt="logo"/></a>
                <li><a th:href="@{/app/dashboard}" class="nav-link px-2"
                       th:classappend="${activePage == 'index'} ? 'text-secondary' : 'text-white' ">
                    Home
                </a>
                </li>
                <li><a th:href="@{/app/findABuddy}" class="nav-link px-2"
                       th:classappend="${activePage == 'findABuddy'} ? 'text-secondary' : 'text-white' ">
                    Find a Buddy
                </a>
                </li>
                <li>
                    <a th:href="@{/app/schedules}" class="nav-link px-2"
                       th:classappend="${activePage == 'schedules'} ? 'text-secondary' : 'text-white' ">
                        Training Schedule
                    </a>
                </li>
                <li>
                    <a th:href="@{/app/profile}" class="nav-link px-2"
                       th:classappend="${activePage == 'profile'} ? 'text-secondary' : 'text-white' ">
                        Profile
                    </a>
                </li>
            </ul>
            <div class="text-end">
                <a sec:authorize="hasAuthority('admin')" th:href="@{/admin}" class="btn btn-danger">Admin area</a>
                <a th:href="@{/app/logout}" class="btn btn-warning">Logout</a>
            </div>
        </div>
    </div>
</header>
</html>