<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:text-decoration="http://www.w3.org/1999/xhtml">

<head>
    <title>FitBuddy | Admin</title>
    <th:block th:replace="fragments/import.html :: headerfiles"></th:block>
</head>

<body>
<section th:replace="fragments/navbar.html :: app-navbar(activePage = ${page})"></section>

<h1 class="text-center">DASHBOARD</h1>

<div class="container my-5">
    <br/>
    <div class="row">
        <!-- Coluna da Esquerda - Settings -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Users</h2>
                    <div class="input-group">
                        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                               aria-describedby="search-addon"/>
                        <form th:action="${'/app/admin/user'}" method="post">
                            <button type="button" class="btn btn-outline-primary" data-mdb-ripple-init style="background: #31C48D6F">Search</button>
                        </form>
                    </div>

                    <div th:if="${#strings.isEmpty(param.section) || #strings.equals(param?.section, 'search')}">
                        <ul class="list-group" id="ticketsList">
                            <li class="list-group-item">Ticket 1</li>
                            <li class="list-group-item">Ticket 2</li>
                            <li class="list-group-item">Ticket 3</li>
                            <li class="list-group-item">Ticket 4</li>
                            <li class="list-group-item">Ticket 5</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">User Details</h2>
                    <form>
                        <div class="container p-5 my-5 border">
                           <!-- <p class="card-text" id="profileName"><strong>Name:</strong> <span
                                    th:text="${user.getName()}"></span></p>
                            <p class="card-text" id="profileEmail"><strong>Email:</strong> <span
                                    th:text="${user.getUsername()}"></span></p>
                            <p class="card-text" id="profileCity"><strong>City:</strong>
                                <span th:text="${user.getCity()}"></span></p>-->
                        </div>

                        <button type="submit" class="btn" style="background: #31C48D6F">Block User</button>
                        <button type="submit" class="btn" style="background: #31C48D6F">Unblock User</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Users</h2>

                    <ul class="list-group" id="user">
                        <li class="list-group-item">Buddies:</li>
                        <li class="list-group-item">Personal:</li>
                        <li class="list-group-item">Total Users:</li>
                    </ul>

                </div>
            </div>
            <br>

            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Monthly Revenue</h2>

                    <ul class="list-group" id="revenue">
                        <li class="list-group-item">Buddies:</li>
                        <li class="list-group-item">Personal:</li>
                        <li class="list-group-item">Total Revenue:</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>

</body>

</html>