<!doctype html>
<html lang="en">

<head>
    <title>FitBuddy | Create Account</title>
    <th:block th:replace="fragments/import.html :: headerfiles"></th:block>
</head>

<body>
    <section th:replace="fragments/navbar.html :: app-navbar(activePage = ${page})" ></section>

    <div class="container my-5">
        <h1>Create New Account</h1>
        <h3>Already registered? <a href="/login">LOGIN</a></h3>
        <form method="post" action="/signUp">
            <div class="mb-3">
                <label for="inputName" class="form-label">Name</label>
                <input
                        type="text"
                        class="form-control"
                        id="inputName"
                        aria-describedby="nameHelp"
                        placeholder="John Doe"
                        name="name"
                >
            </div>

            <div class="mb-3">
                <label for="inputEmail" class="form-label">Email</label>
                <input type="email"
                       class="form-control"
                       id="inputEmail"
                       aria-describedby="emailHelp"
                       placeholder="user@email.com"
                       name="username"
                >
            </div>

            <div class="mb-3">
                <label for="inputPassword" class="form-label">Password</label>
                <input type="password"
                       class="form-control"
                       id="inputPassword"
                       placeholder="******"
                       name="password"
                >
            </div>

            <div class="mb-3">
                <label for="inputBirthDate" class="form-label">Date of Birth</label>
                <input type="date"
                       class="form-control"
                       id="inputBirthDate"
                       name="birthdate"
                >
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Personal Trainer</label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">Buddy</label>
            </div>

            <button type="submit" class="btn btn-primary">Sign Up</button>

        </form>
    </div>
    <footer th:replace="fragments/footer :: footer"></footer>
</body>


</html>