<!doctype html>
<html lang="en">

<head>
    <title>FitBuddy | Create Account</title>
    <th:block th:replace="fragments/import.html :: headerfiles"></th:block>
    <style>
        .steps {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2rem;
            position: relative;
        }

        .step-button {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: none;
            background-color: var(--bs-gray);
            transition: .4s;
        }

        .step-button[aria-expanded="true"] {
            width: 60px;
            height: 60px;
            background-color: var(--bs-primary);
            color: #fff;
        }

        .done {
            background-color: var(--bs-primary);
            color: #fff;
        }

        .step-item {
            z-index: 10;
            text-align: center;
        }

        /* to customize progress bar */
        #progress::-webkit-progress-value {
            background-color: var(--bs-primary);
            transition: .5s ease;
        }

        #progress::-webkit-progress-bar {
            background-color: var(--bs-gray);

        }
    </style>
    <script>
        const stepButtons = document.querySelectorAll('.step-button');
        const progress = document.querySelector('#progress');

        Array.from(stepButtons).forEach((button, index) => {
            button.addEventListener('click', () => {
                progress.setAttribute('value', index * 100 / (stepButtons.length - 1));//there are 3 buttons. 2 spaces.

                stepButtons.forEach((item, secindex) => {
                    if (index > secindex) {
                        item.classList.add('done');
                    }
                    if (index < secindex) {
                        item.classList.remove('done');
                    }
                })
            })
        })
    </script>
</head>

<body>
<section th:replace="fragments/navbar.html :: site-navbar(activePage = ${page})"></section>
<form action="/app/signUp" method="post">
    <div class="container">
        <div class="accordion" id="accordionExample">
            <div class="steps">

                <div class="step-item">
                    <button class="step-button text-center" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        1
                    </button>
                    <div class="step-title">
                        First Step
                    </div>
                </div>
                <div class="step-item">
                    <button class="step-button text-center collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        2
                    </button>
                    <div class="step-title">
                        Second Step
                    </div>
                </div>
                <div class="step-item">
                    <button class="step-button text-center collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        3
                    </button>
                    <div class="step-title">
                        Third Step
                    </div>
                </div>
            </div>

            <div class="card">
                <div id="headingOne">
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                     data-bs-parent="#accordionExample">
                    <div class="card-body">
                        <div class="container my-5">
                            <h1>Create New Account</h1>
                            <h3>Already registered? <a href="/login">LOGIN</a></h3>

                            <div class="mb-3">
                                <label for="inputName" class="form-label">Name</label>
                                <input
                                        type="text"
                                        class="form-control"
                                        id="inputName"
                                        aria-describedby="nameHelp"
                                        placeholder="John Doe"
                                        name="name"
                                />
                                <div th:if="${ errorField?.equals('name')}" class="invalid-feedback d-block" th:text="${errorMessage}"></div>
                            </div>

                            <div class="mb-3">
                                <label for="inputEmail" class="form-label">Email</label>
                                <input type="email"
                                       class="form-control"
                                       id="inputEmail"
                                       aria-describedby="emailHelp"
                                       placeholder="userFitbuddy@email.com"
                                       name="username"
                                />
                                <div th:if="${ errorField?.equals('username')}" class="invalid-feedback d-block" th:text="${errorMessage}"></div>
                            </div>

                            <div class="mb-3">
                                <label for="inputPassword" class="form-label">Password</label>
                                <input type="password"
                                       class="form-control"
                                       id="inputPassword"
                                       placeholder="******"
                                       name="password"
                                />
                                <div th:if="${ errorField?.equals('password')}" class="invalid-feedback d-block" th:text="${errorMessage}"></div>
                            </div>

                            <div class="mb-3">
                                <label for="inputCity" class="form-label">City</label>
                                <input
                                        type="text"
                                        class="form-control"
                                        id="inputCity"
                                        aria-describedby="nameHelp"
                                        placeholder="Vancouver"
                                        name="city"
                                />
                                <div th:if="${ errorField?.equals('city')}" class="invalid-feedback d-block" th:text="${errorMessage}"></div>
                            </div>

                            <div class="mb-3">
                                <label for="inputBirthDate" class="form-label">Date of Birth</label>
                                <input type="date"
                                       class="form-control"
                                       id="inputBirthDate"
                                       name="birthdate"
                                >
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="subscriptionType"
                                       id="subscriptionTypePersonal" value="personalTrainer">
                                <label class="form-check-label" for="subscriptionTypePersonal">Personal Trainer</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="subscriptionType"
                                       id="subscriptionTypeBuddy" value="buddy">
                                <label class="form-check-label" for="subscriptionTypeBuddy">Buddy</label>
                            </div>
                            <div>
                                <button type="button" data-bs-toggle="collapse" class="btn btn-primary"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Next
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div id="headingTwo">

                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="container my-5">
                        <h1>Card Information</h1>

                        <div class="mb-3">
                            <label for="cardNumber" class="form-label">Card Number</label>
                            <input type="text" class="form-control" id="cardNumber" aria-describedby="cardHelp"
                                   placeholder="xxxx-xxxx-xxxx-xxxx">
                        </div>

                        <div class="mb-3">
                            <label for="cvNumber" class="form-label">CV Number</label>
                            <input type="text" class="form-control" id="cvNumber" placeholder="***">
                        </div>

                        <div class="mb-3">
                            <label for="expireDate" class="form-label">Expiry Date</label>
                            <input type="date"
                                   class="form-control"
                                   id="expireDate"
                                   name="expireDate"
                            >
                        </div>
                        <div>
                            <button type="button" data-bs-toggle="collapse" class="btn btn-primary"
                                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Previous
                            </button>
                            <button class="btn btn-primary" id="nextBtn" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Next
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card">
                <div id="headingThree">
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                     data-bs-parent="#accordionExample">
                    <div class="card-body">
                        <div class="card-body" th:replace="site/eula.html :: eulaBody">
                        </div>
                        <div>
                            <div class="form-check">
                                <input
                                        class="form-check-input"
                                        type="radio"
                                        name="eula"
                                        id="accept"
                                        value="accept"
                                />
                                <label class="form-check-label" for="accept">
                                    I accept the terms and conditions.
                                </label>
                            </div>

                            <div class="form-check">
                                <input
                                        class="form-check-input"
                                        type="radio"
                                        name="eula"
                                        id="deny"
                                        value="deny"
                                />
                                <label class="form-check-label" for="deny">
                                    I do not accept the terms and conditions.
                                </label>
                            </div>
                        </div>
                        <button type="button" data-bs-toggle="collapse" class="btn btn-primary"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Previous
                        </button>
                        <button class="btn btn-primary" id="subscribeBtn" type="submit">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>
<footer th:replace="fragments/footer :: footer"></footer>
</body>


</html>