<!doctype html>
<html lang="en">
<head>
    <title>FitBuddy | Index</title>
    <th:block th:replace="fragments/import.html :: headerfiles"></th:block>
</head>
<body>
<section th:replace="fragments/navbar.html :: app-navbar(activePage = ${page})" ></section>


<div class="container my-5">
    <h1>Find a Buddy</h1>

    <form th:replace="fragments/forms.html :: preferencesForm(action='/app/preferences')"></form>

</div>

    <footer th:replace="fragments/footer :: footer"></footer>
</body>

</html>