<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>FitBuddy | Index</title>
    <th:block th:replace="fragments/import.html :: headerfiles"></th:block>
</head>

<body>
<section th:replace="fragments/navbar.html :: app-navbar(activePage = ${page})" ></section>

    <div class="container my-5">
        <h1>Forgot password</h1>
        <h3>New Password</h3>

        <form>             
            <div class="mb-3">
                <label for="forgotPassword" class="form-label">Email</label>
                <input type="email" class="form-control" id="forgotPassword" aria-describedby="emailHelp" placeholder="userFitbuddy@email.com">
                
            </div>   
    
            <div>
                <button type="submit" class="btn btn-primary" id="resetPassBTN">Send</button>
            </div>              
          </form>       
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>
</body>

</html>