<!doctype html>
<html lang="en">
<head>
    <title>FitBuddy | Index</title>
    <th:block th:replace="fragments/import.html :: headerfiles"></th:block>
</head>

<body>

<section th:replace="fragments/navbar.html :: app-navbar(activePage = ${page})" ></section>
<div class="container my-5">
    <h1>Welcome <span class="text-decoration-underline" th:text="${user.getName()}"></span> Let's complete your profile!</h1>
    <h5 class="mb-4">Complete your training preferences, so we can help you find buddies!</h5>

    <form
            th:if="${user.getPreferences() == null}"
            th:replace="fragments/forms :: preferencesForm(
                action='/app/updatePreferecens',
                showGenderPrefix=true
            )"
    ></form>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
</body>

</html>