<!doctype html>
<html lang="en">

<head>
    <title>FitBuddy | Index</title>
    <th:block th:replace="fragments/import.html :: headerfiles"></th:block>
</head>

<body>
<section th:replace="fragments/navbar.html :: site-navbar(activePage = ${page})" ></section>
    <div class="container my-5">
        <h1>Login</h1>
        <h3>Sign in to continue</h3>

        <div th:if="${param.error}" class="alert alert-danger">
            Invalid credentials
        </div>

        <div th:if="${param.logout}" class="alert alert-success">
            You have been logged out.
        </div>

        <form method="post" th:action="@{/app/login}">
            <div class="mb-3">
                <label for="forgotPassword" class="form-label">Email</label>
                <input name="username" type="text" class="form-control" id="forgotPassword" aria-describedby="emailHelp" placeholder="userFitbuddy@email.com">
            </div>   

            <div class="mb-3">
                <label for="exampleInputPasswordLogin" class="form-label">Password</label>
                <input name="password" type="password" class="form-control" id="exampleInputPasswordLogin" placeholder="******">
            </div>  
    
            <div>
                <button type="submit" class="btn" style="background: #31C48D6F" id="loginPassBTN">Login</button>
                <a href="/forgotPassword" style="color:  #212529"> Forgot Password </a>
            </div>              
          </form>       
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>
</body>

</html>