<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>FitBuddy | Index</title>
    <th:block th:replace="fragments/import.html :: headerfiles"></th:block>
</head>

<body>
<section th:replace="fragments/navbar.html :: app-navbar(activePage = ${page})"></section>

<div class="container my-5">
    <h1 class="text-center">Welcome, <span th:text="${user.getName()}"></span></h1>
    <br/>
    <div class="row">
        <!-- Coluna da Esquerda - Settings -->
        <div class="col-md-4">
            <ul class="list-group" id="settingsList">
                <li class="list-group-item"><a href="?section=profile">Profile Details</a></li>
                <li class="list-group-item"><a href="?section=buddies">Buddies List</a></li>
                <li class="list-group-item"><a href="?section=subscription">Subscription Details</a></li>
            </ul>
        </div>
        <div class="col-md-8"  th:if="${#strings.isEmpty(param.section) || #strings.equals(param?.section, 'profile')}">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Profile Details</h2>
                    <p class="card-text" id="profileName"><strong>Name:</strong> <span
                            th:text="${user.getName()}"></span></p>
                    <p class="card-text" id="profileEmail"><strong>Email:</strong> <span
                            th:text="${user.getUsername()}"></span></p>
                    <p class="card-text" id="profileCity"><strong>City:</strong>
                        <span th:text="${user.getCity()}"></span></p>
                    <p class="card-text"><strong>Daily Progress:</strong></p>
                </div>
            </div>
        </div>
        <div th:if="${#strings.equals(param?.section, 'buddies') && buddies != null && !buddies.isEmpty()}" class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Buddies</h2>
                    <ul class="list-group" id="buddiesList">
                        <li  th:each="buddy, iterstat: ${buddies}" th:id="|i${iterstat.index}|"  class="list-group-item d-flex justify-content-between lh-sm">
                            <div>
                                <h6 class="my-0" th:text="${buddy.getName()}"></h6>
                                <small class="text-body-secondary">
                                    <b>City:</b> <span th:text="${buddy.getCity()}"></span> <br />
                                </small>
                            </div>
                            <div class="d-flex align-items-center">
                                <button type="submit" class="mx-1 btn btn-outline-danger">
                                    <i class="fa-solid fa-ban"></i>
                                </button>

                                <button type="submit" class="mx-1 btn btn-outline-success">
                                    <i class="fa-solid fa-check"></i>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div th:if="${#strings.equals(param?.section, 'subscription')}" class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Subscription Details</h2>
                    <p class="card-text"><strong>Type:</strong> <span
                            th:text="${user.getSubscriptionType()}"></span></p>
                    <p class="card-text"><strong>Value:</strong> <span
                            th:text="${subscription.getPrice()}"></span></p>
                    <p class="card-text"><strong>Subscribed At:</strong> <span
                            th:text="${subscription.getSubscribedAt()}"></span></p>
                    <p class="card-text"><strong>Charge Day:</strong> <span
                            th:text="${subscription.getChargeDay()}"></span></p>

                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>

</html>