<!doctype html>
<html lang="en">

<head>
    <title>FitBuddy | Index</title>
    <th:block th:replace="fragments/import.html :: headerfiles"></th:block>
</head>

<body>
<section th:replace="fragments/navbar.html :: app-navbar(activePage = ${page})"></section>

<div class="container my-5">
    <h1 class="text-center">Welcome, <span th:text="${user.getName()}"></span></h1>
    <br/>
    <div class="row">
        <!-- Coluna da Esquerda - Settings -->
        <div class="col-md-4">
            <ul class="list-group" id="settingsList">
                <li class="list-group-item"><a href="?section=profile">Profile</a></li>
                <li class="list-group-item"><a href="?section=buddies">buddies</a></li>
                <li class="list-group-item">Support</li>
                <li class="list-group-item">Subscriptions</li>
                <li class="list-group-item">Logoff</li>
            </ul>
        </div>
        <div class="col-md-8"  th:if="${#strings.isEmpty(param.section) || #strings.equals(param?.section, 'profile')}">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Profile Details</h2>
                    <p class="card-text" id="profileName"><strong>Name:</strong> <span
                            th:text="${user.getName()}"></span></p>
                    <p class="card-text" id="profileEmail"><strong>Email:</strong> <span
                            th:text="${user.getUsername()}"></span></p>
                    <p class="card-text" id="profileCity"><strong>City:</strong>
                        <span th:text="${user.getCity()}"></span></p>
                    <p class="card-text"><strong>Daily Progress:</strong></p>
                </div>
            </div>
        </div>
        <div th:if="${#strings.equals(param?.section, 'buddies')}" class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Buddies</h2>
                    <ul class="list-group" id="buddiesList">
                        <li class="list-group-item">Buddy 1</li>
                        <li class="list-group-item">Buddy 2</li>
                        <li class="list-group-item">Buddy 3</li>
                    </ul>
                    <br>
                    <p class="card-text"><strong>Badges Owned:</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>

</html>